<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Theme Options" lan="" version="1.0" date="2016-03-25" compatibility="2.0" installRequired="true" >
	<author name="Jimako" url="http://e107.sk" />
	<summary lan="">Extended theme functionality for not just main admins</summary>
	<description lan="">Extended theme functionality for not just main admins, when you need user input</description>
	<keywords>
		<word>theme</word>
		<word>setting</word>
	</keywords>
	<category>manage</category>
	<copyright>Jimako</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='site_tag'></pref>
		<pref name='site_description'></pref>
		<pref name='site_disclaimer'></pref>		
		<pref name='site_slogan'></pref>
		<pref name='colorpicker_enabled'></pref>
		<pref name='inlinecss'></pref>
		<pref name='inlinejs'></pref>			
	</pluginPrefs>
</e107Plugin>