<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="phpwee" lan="" version="1.1" date="2017-08-01" compatibility="2.0" installRequired="true" >
	<author name="searchturbine" url="https://github.com/searchturbine" />
	<summary lan="">PHPWee is an inline PHP minifier for web resources. It lets you minify HTML4, HTML5, XHTML, CSS and JavaScript files in a single l</summary>
	<description lan="">PHPWee is an inline PHP minifier for web resources. It lets you minify HTML4, HTML5, XHTML, CSS and JavaScript files in a single line of code.</description>
	<keywords>
		<word>enhancement</word>
		<word>content</word>
		<word>frontend</word>
	</keywords>
	<category>tools</category>
	<copyright>BSD</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='active'>1</pref>
		<pref name='results'>0</pref>
	</pluginPrefs>
</e107Plugin>